# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.b#1
PCB/SensorNode.b#7
*.b#8
PCB/SensorNode.b#2
*.b#3
PCB/SensorNode.b#4
*.b#5
PCB/SensorNode.b#9
*.b#6
PCB/SensorNode.s#1
*.s#2
PCB/SensorNode.s#3
*.s#4
*.s#5
PCB/SensorNode.s#6
*.s#7
PCB/SensorNode.s#8
PCB/SensorNode.s#9
*.s#9
PCB/.SensorNode.brd.lck
*.lck
PCB/SensorNode.s##
PCB/SensorNode.pro
*.job
*.GTP
PCB/SensorNode.GTL
*.GTO
PCB/SensorNode.TXT
*.GTS
PCB/SensorNode.gpi
*.GML
PCB/SensorNode.GBS
*.GBO
PCB/SensorNode.GBL
*.rar
PCB/SensorNode.b##
*.dri
